USE [SPORT]
GO
/****** Object:  Table [dbo].[stuinfo]    Script Date: 2025/11/25 9:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stuinfo](
	[name] [nvarchar](10) NULL,
	[sex] [nvarchar](2) NULL,
	[grade] [nvarchar](4) NULL,
	[stuid] [nchar](12) NOT NULL,
	[specialty] [nvarchar](20) NULL,
 CONSTRAINT [PK_stuinfo] PRIMARY KEY CLUSTERED 
(
	[stuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[stuinfo] ([name], [sex], [grade], [stuid], [specialty]) VALUES (N'刘志淳', N'男', N'2013', N'109122013010', N'地理信息系统')
INSERT [dbo].[stuinfo] ([name], [sex], [grade], [stuid], [specialty]) VALUES (N'杨星辰', N'女', N'2013', N'109122013021', N'人文地理与城乡规划')
INSERT [dbo].[stuinfo] ([name], [sex], [grade], [stuid], [specialty]) VALUES (N'王慧云', N'女', N'2013', N'109122013037', N'人文地理与城乡规划')
